.product-container-item {
    width: 30%;
    height: 280px;
    display: grid;
    grid-template-rows: 50% 15% 10% 15%;
    align-items: end;
    justify-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    min-width: 130px;
}

.product-container-item-image {
    width: 50%;
    max-height: 115px;
}

.product-container-item-button {
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid #8B8B8B;
    color: #666666;
    cursor: pointer;
}

.product-container-item-title, .product-container-item-price{
    font-size: small;

}