main {
    position: absolute;
    width: 100%;
}

.shop {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    justify-content: space-between;
    max-height: calc(100vh - 125px);
}

.shop-nav {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 30%;
    background-color: #E9D6D0;
}

.shop-nav-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.shop-product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 125px);
    width: calc(100vw- 30%) ;
    background-color: white;
    width: 70%;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
}
